/* client/src/components/Search.css */

.search-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.search-title {
  font-size: 24px;
  margin-bottom: 2%;
}

.search-form {
  display: flex;
  margin-bottom: 0px;
  position: relative; 
}

.search-input-container {
  position: relative; 
  flex: 1;
}

.search-input {
  width: 95%;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 0;
  border: 1px solid #ccc;
  border-radius: 0px;
  font-size: 16px;
}

.suggestions-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  position: relative;
  width: 97%;
  max-height: 10em; 
  overflow-y: auto;
  z-index: 1; 
  display: none; 
}

.search-input-container:hover .suggestions-list {
  display: block;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}

.suggestion-item + .suggestion-item {
  border-top: 1px solid #ccc;
}

.search-button {
  padding: 10px 20px;
  border: none;
  height: 40px;
  border-radius: 4px;
  background-color: #333;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.search-button:hover {
  background-color: #555;
}

.results-list {
  list-style: none;
  padding: 0;
}

.place-item {
  display: flex;
  align-items: center;
  background: white;
  margin-bottom: 8px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}


.place-icon {
  width: 50px;
  height: 50px;
  background-size: cover;
  background-position: center;
  margin-right: 15px;
  flex-shrink: 0;
  border-radius: 8px;
}

.place-content {
  flex: 1;
}

.place-name {
  font-size: 18px;
  margin-bottom: 5px;
  color: #333;
  font-weight: 600;
}

.place-address,
.place-phone,
.place-types {
  margin: 5px 0;
  font-size: 14px;
  color: #555;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.load-more-button {
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(135deg, #333, #555);
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
}

.load-more-button:hover {
  background: linear-gradient(135deg, #555, #777);
}

.share-button,
.save-button {
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(135deg, #007bff, #0056b3);
  color: white;
  cursor: pointer;
  font-size: 14px;
  margin-right: 10px;
  transition: background 0.3s ease;
}

.share-button:hover,
.save-button:hover {
  background: linear-gradient(135deg, #0056b3, #003f7f);
}
